@import "../stylesheets/variables";

.section {
  height: 18.75rem;
  background: $dark-grey;

  :global(.container-fluid) {
    padding: 0;
  }
}

.footer {
  height: 18.75rem;
  padding: 3.125rem 5rem 1.875rem 5rem;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .brand {
    display: flex;
    align-items: center;

    .logo {
      height: 1.5rem;
      padding-right: 0.625rem;

      :global(.anvil-logo-path) {
        fill: $white;
      }
    }

    &-name {
      font-size: 1.125rem;
      margin: 0;
      font-weight: $font-weight-semibold;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .address {
    }

    .social-icon {
      height: 2.25rem;
      width: 2.25rem;

      margin-left: 2.25rem;
    }
  }
}
