.header {
  background: #959799;
  margin-bottom: 1.45rem;

  &-container {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
  }

  &-link {
    color: white;
    text-decoration: none;
    background-image: none;
  }

  &-logo {
    height: 35px;
    margin: 0;
    // display: inline;
  }

  &-text {
    margin: 0;
    margin-left: 0.5rem;
    display: inline;
  }
}

.nav {
  display: inline;
  float: right;
  li {
    padding: 0 0.4rem;
    display: inline;

    .nav-link {
      color: white;
      text-decoration: none;
      background: none;
    }
  }
}
