@import "../stylesheets/variables";
@import "../stylesheets/bootstrap-required";

.section {
  height: 25rem;
  display: flex;
  align-items: center;

  :global(.container-fluid) {
    padding-left: 4.375rem; // TODO: ask ryan about dimensions
    padding-right: 4.375rem;
  }
}

.jumbotron {
  // TODO: max width

  &-header {
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
    font-weight: 400;
    letter-spacing: 0.3125rem;
    color: $dark-grey;
  }

  &-link {
    color: $grey;
    text-decoration: underline;
    font-size: 1.5625rem;
    letter-spacing: 0.3125rem;
  }

  &-link:hover {
    color: darken($grey, 50%);
  }
}
