@import "../stylesheets/variables";
@import "../stylesheets/bootstrap-required";

.section {
  height: calc(100vh - #{$section-height} - #{$navbar-height});
  min-height: $section-height;
  max-height: calc(#{$section-height} * 2.5);
  display: flex;
  align-items: center;

  :global(.container-fluid) {
    padding-left: 4.375rem; // TODO: ask ryan about dimensions
    padding-right: 4.375rem;

    @include media-breakpoint-down(sm) {
      font-size: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

.jumbotron {
  // TODO: max width

  &-header {
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
    font-weight: $font-weight-normal;
    letter-spacing: 0.3125rem;
    color: $dark-grey;
  }

  &-link {
    h3 {
      color: $blue;
      text-decoration: underline;
      font-size: 1.5625rem;
      letter-spacing: 0.3125rem;
      font-weight: $font-weight-light;
    }
  }

  &-link:hover {
    color: darken($blue, 50%);
  }
}
