@import "../stylesheets/variables";
@import "../stylesheets/bootstrap-required";

.squares {
  position: relative;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .yellow-square {
    position: absolute;
    z-index: 30;
    width: 60px;
    height: 222px;
    background: $anvil-gold;
    opacity: 90%;

    top: 0;
    right: 0;
  }

  .blue-square {
    position: absolute;
    z-index: 31;
    right: calc(-255px + 60px);
    width: 255px;
    height: 60px;
    background: rgba($blue, 0.8);
    opacity: 80%;

    top: 0;
    right: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .green-square {
    position: absolute;
    z-index: 31;
    width: 113px;
    height: 60px;
    background: rgba($green, 0.9);
    opacity: 64%;

    top: 0;
    right: 255px;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
