@import "../stylesheets/variables";

.navbar {
  :global(.navbar) {
    height: $navbar-height;
    background-color: $white;

    :global(.collapse),
    :global(.collapsing) {
      background-color: $white;

      :global(.navbar-nav) {
        :global(.nav-item) {
          font-family: $headings-font-family;
          font-size: 0.875rem;
          letter-spacing: 0.0625rem;
        }

        :global(.nav-link) {
          padding-left: 1.5625rem;
          padding-right: 1.5625rem;
          color: $blue;
        }

        :global(.nav-link:hover) {
          color: darken($blue, 50%);
        }
      }
    }

    :global(.navbar-brand) {
      font-size: 1.125rem;
      margin: 0;
      font-weight: $font-weight-semibold;
      color: $blue;

      .logo {
        padding-right: 0.625rem;

        :global(.anvil-logo-path) {
          fill: $anvil-gold;
        }
      }
    }

    :global(.navbar-brand:hover) {
      color: darken($blue, 50%);
    }
  }
}

.navbar-gold {
  :global(.navbar) {
    background-color: $anvil-gold;

    :global(.collapse),
    :global(.collapsing) {
      background-color: rgba($anvil-gold, 0);

      :global(.navbar-nav) {
        :global(.nav-link) {
          color: $black;
        }
        :global(.nav-link:hover) {
          color: $blue;
        }
      }
    }

    :global(.navbar-brand) {
      color: $black;
      .logo {
        :global(.anvil-logo-path) {
          fill: $black;
        }
      }
    }

    :global(.navbar-brand:hover) {
      color: $blue;

      .logo {
        :global(.anvil-logo-path) {
          fill: $blue;
        }
      }
    }
  }
}

.navbar-blue {
  :global(.navbar) {
    background-color: $blue;

    :global(.collapse),
    :global(.collapsing) {
      background-color: rgba($blue, 0);

      :global(.navbar-nav) {
        :global(.nav-link) {
          color: $white;
        }
        :global(.nav-link:hover) {
          color: darken($white, 25%);
        }
      }
    }
    :global(.navbar-brand) {
      color: $white;
      .logo {
        :global(.anvil-logo-path) {
          fill: $white;
        }
      }
    }

    :global(.navbar-brand:hover) {
      color: darken($white, 25%);

      .logo {
        :global(.anvil-logo-path) {
          fill: darken($white, 25%);
        }
      }
    }
  }
}

.navbar-green {
  :global(.navbar) {
    background-color: $green;

    :global(.collapse),
    :global(.collapsing) {
      background-color: rgba($green, 0);

      :global(.navbar-nav) {
        :global(.nav-link) {
          color: $white;
        }
        :global(.nav-link:hover) {
          color: darken($white, 25%);
        }
      }
    }

    :global(.navbar-brand) {
      color: $white;
      .logo {
        :global(.anvil-logo-path) {
          fill: $white;
        }
      }
    }

    :global(.navbar-brand:hover) {
      color: darken($white, 25%);

      .logo {
        :global(.anvil-logo-path) {
          fill: darken($white, 25%);
        }
      }
    }
  }
}
