@import "../stylesheets/variables";

.navbar {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 2.5rem;

  .brand {
    display: flex;
    align-items: center;

    .logo {
      height: 1.5rem;
      padding-right: 0.625rem;

      :global(.anvil-logo-path) {
        fill: $anvil-gold;
      }
    }

    &-name {
      font-size: 1.125rem;
      margin: 0;
      font-weight: $font-weight-semibold;
      color: $grey;
    }
  }

  // TODO: custom classes here
  :global(.nav) {
    margin-left: calc(100px - 1.5625rem);

    :global(.nav-item) {
      font-family: $headings-font-family;
      font-size: 0.875rem;
      letter-spacing: 0.0625rem;
    }

    :global(.nav-link) {
      padding-left: 1.5625rem;
      padding-right: 1.5625rem;
      color: $grey;
    }

    :global(.nav-link:hover) {
      color: darken($grey, 50%); // TODO: this needs to be more visible
    }
  }
}
