@import "../stylesheets/variables";
@import "../stylesheets/bootstrap-required";

// switch to slants
.section {
  background: $anvil-gold;
  position: relative;
  min-width: 300px;
  width: 100vw;

  .rhombus {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .left-triangle,
  .right-triangle {
    display: none;
  }

  .left-content,
  .right-content {
    width: 100%;
    min-height: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    padding: 10px 30px;

    .join-link {
      color: $anvil-gold;
      text-decoration: underline;
    }

    text-align: center;

    h4 {
      font-size: 2rem;
      font-weight: $font-weight-semibold;
      font-family: $headings-font-family;
    }
    h5,
    h6 {
      font-weight: $font-weight-normal;
      font-family: $headings-font-family;
    }
  }

  .left-content {
    background: $grey;
    color: $white;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.7));
  }

  .right-content {
    background: $white;
    color: $grey;
    filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.7));
  }

  .logo {
    height: 30px;
    :global(.anvil-logo-path) {
      fill: $dark-grey;
    }
  }

  .price {
    * {
      margin: 0;
      padding: 0;
      line-height: 1.5rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .section {
    $tri-side: 500px;
    height: $tri-side;

    .left-triangle,
    .right-triangle {
      z-index: 1;
      width: 0;
      height: 0;
      position: absolute;
      display: inline-block;
    }

    .rhombus {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $anvil-gold;
      z-index: 0;
    }

    .left-triangle {
      border-top: #{$tri_side} solid $grey;
      border-right: #{$tri_side} solid transparent;
      top: 0;
      left: 0;
      filter: drop-shadow(2px 0px 10px rgba(0, 0, 0, 0.1));
    }

    .right-triangle {
      border-bottom: #{$tri_side} solid $white;
      border-left: #{$tri_side} solid transparent;
      bottom: 0;
      right: 0;
      filter: drop-shadow(-2px 0px 10px rgba(0, 0, 0, 0.1));
    }

    .left-content,
    .right-content {
      width: calc(#{$tri_side} / 1.67);
      height: calc(#{$tri_side} / 2.5);
      z-index: 2;
      position: absolute;
      min-height: 0;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      filter: drop-shadow(0 0 0);
    }

    .left-content {
      top: 0;
      left: 0;
      align-items: flex-start;
      text-align: left;
    }

    .right-content {
      bottom: 0;
      right: 0;
      align-items: flex-end;
      text-align: right;
    }

    .logo {
      height: 50px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .section {
    $tri-side: 600px;
    height: $tri-side;

    .logo {
      height: 70px;
    }

    .left-triangle {
      border-top: #{$tri_side} solid $grey;
      border-right: #{$tri_side} solid transparent;
    }

    .right-triangle {
      border-bottom: #{$tri_side} solid $white;
      border-left: #{$tri_side} solid transparent;
    }

    .left-content,
    .right-content {
      width: calc(#{$tri_side} / 1.67);
      height: calc(#{$tri_side} / 2.5);
    }
  }
}
