@import "../stylesheets/variables";
@import "../stylesheets/mixins";
@import "../stylesheets/bootstrap-required.scss";

.squares {
  :global(.container-fluid) {
    padding-left: 0;
    padding-right: 0;

    :global(.row) {
      margin: 0;

      a {
        display: block;
      }

      :global(.col-md) {
        padding-right: 0;
        padding-left: 0;
      }

      @include media-breakpoint-up(md) {
        height: $section-height;

        .col-left {
          flex: 0 0 44%;
          max-width: 44%;
        }

        .col-right {
          flex: 0 0 28%;
          max-width: 28%;
        }
      }

      .square {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;

        @include media-breakpoint-down(sm) {
          height: 9.375rem;
        }

        &-heading {
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
          padding-top: 2.8125rem;
          padding-left: 3.75rem;

          @include heading-type;

          @include media-breakpoint-down(md) {
            font-size: 1.6rem;
            padding-left: 2.75;
          }

          @include media-breakpoint-down(sm) {
            padding-top: 0;
            position: relative;
            margin-right: auto;
            align-self: center;
          }
        }

        .pattern {
          align-self: flex-end;
          flex-shrink: 0;

          @include media-breakpoint-down(md) {
            height: 6.25rem;
            width: 6.25rem;
          }

          @include media-breakpoint-down(sm) {
            height: 4.6875;
            width: 4.6875;
          }
        }
      }

      .yellow-square {
        background-color: $anvil-gold;
        color: $dark-grey-2;
      }

      .blue-square {
        background-color: $blue;
        color: $white;
      }

      .green-square {
        background-color: $green;
        color: $white;
      }
    }
  }
}
