@import "../utils/variables";

:global(.row) {
  height: 300px; // TODO: ask ryan about dimensions
  margin: 0;

  a {
    display: block;
  }

  :global(.col) {
    padding-right: 0;
    padding-left: 0;
  }

  .col-left {
    flex: 0 0 44%;
    max-width: 44%;
  }

  .col-right {
    flex: 0 0 28%;
    max-width: 28%;
  }

  .square {
    display: flex;
    justify-content: flex-end;

    &-header {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;

      padding: 45px 60px; // TODO: ask ryan about dimensions
      font-weight: $font-weight-normal;
      font-size: 36px;
    }

    .pattern {
      align-self: flex-end;
      flex-shrink: 0;
    }
  }

  .yellow-square {
    background-color: rgba($anvil-gold, 0.9);
    color: $dark-grey-2;
  }

  .blue-square {
    background-color: $blue;
    color: $white;
  }

  .green-square {
    background-color: $green;
    color: $white;
  }
}
