@import "../stylesheets/variables";
@import "../stylesheets/mixins";

.section {
  height: 20rem;
  display: flex;
  align-items: center;

  .title {
    margin: 0 auto;
    padding-left: 10px;
    @include page-title-type;
  }

  .pattern {
    align-self: flex-end;
  }
}

.section-gold {
  background: $anvil-gold;
  .title {
    color: $black;
  }
}

.section-blue {
  background: $blue;
  .title {
    color: $white;
  }
}

.section-green {
  background: $green;
  .title {
    color: $white;
  }
}
