/* Typography */

$font-family-base: "Open Sans", sans-serif;
$headings-font-family: "Poppins", sans-serif;
$line-height-base: 1.5;
$headings-line-height: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* Colors */

$anvil-gold: #fad011; /* or is it #fbce0e? */
$grey: #2e5266;
$dark-grey: #3c3c3c;
$white: #fff;
$black: #000;
